body, html {
				margin:0;
				padding:0;
				font-family:Arial,sans-serif;
				color:#717171;
			}
			h1 {
				color:black;
				margin-bottom:10px;
			}
			#main {
				position:relative;
				width:940px;
				padding:20px;
				margin:auto;
			}
			#right {
				position:relative;
				float:left;
				margin: 10px;
				width:600px;
				vertical-align:top;
			}
			#left {
				position:relative;
				float:left;
				width:260px;
				padding:10px;
				margin-right:10px;
				border-right:3px solid #353a3f;
				/* background-color:#E8E0FF; */
			}
			.half {
				position:relative;
				display:inline-block;
				width:49%;
			}
			#original {
				vertical-align:top;
			}
			#messageArea {
				width:100%;
			}
			#img{
				width:290px;
			}
			#cover {
				width:290px;
			}
			.btns {
				margin-top:15px;
				margin-bottom:10px;
				padding: 0 40px;
				width:228px;
				height: 80px;
				
			}
			.btnstart {
				padding:10px 20px 10px 20px;
				-moz-border-radius:15px;
				-o-border-radius:15px;
				-webkit-border-radius:15px;
				border-radius:15px;
				border:2px solid #476930;
				cursor:pointer;
				color:#476930;
				background-color:white;
				width:100%;
				text-align:center;

				/* padding: 10px; font-size: 15px; color: white; background: #476930; border: none; border-radius: 5px; */
			}
			.btnstart:hover {
				color:white;
				background-color:#476930;
			}
			span.btnshowhide {
				padding:10px 10px 10px 10px;
				-moz-border-radius:15px;
				-o-border-radius:15px;				
				color:#476930;
				-webkit-border-radius:15px;
				border-radius:15px;
				border:2px solid #476930;
				cursor:pointer;
				background-color:white;
				width:80px;
				text-align:center;
			}
			.btnshowhide:hover {
				color:white;
				background-color:#5845ff;
			}
			#download {	

				border-top:1px solid black;
				-moz-border-radius:0 0 15px 15px;
				-o-border-radius:0 0 15px 15px;
				-webkit-border-radius:0 0 15px 15px;
				border-radius:0 0 15px 15px;
				text-decoration:none;
			}
			#description {
				line-height:25px;
				padding-bottom:5px;
				border-bottom:1px solid lightgrey;
			}
			#capacity {
				font-weight:normal;
				font-size:15px;
				margin-left:10px;
				vertical-align:middle;
			}
			.note {
				font-size:9px;
				text-align:center;
				color:black;
			}
			.invisible {
				visibility:hidden;
			}
			.clear {
				clear:both;
			}
			.footer {
				margin-top:25px;
				width:100%;
				text-align:right;
			}
			textarea{
				width:228px;
				padding:10px;
				height:200px;
				resize:none;
			}
			h2{
				margin-top:0;
				color:#717171;
			}
			input.file{
				background-color: aqua;
			}

			#aboutcol{
				background-color:white; 
				border-style: double; 
				border-color: green;
				border-width: 10px;
				margin-bottom: 5px;
				padding: 25px;
			}

			/* .decodedimage{
				visibility:hidden;
			} */
			.btndownload {
				padding: 10px;
				font-size: 12px;
				color: white;
				background: #476930;
				border: none;
				border-radius: 5px;
				margin-left: 10px
			  }